<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News</title>
  </head>
  
  <body>
    
    <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Your trusted source of weather forecast and news</h1>
            </div>
        </div>
  
  
    <div class="container">
        <div class="row">
                <div class="col-md-9">
                    <h5>In <%= @location.upcase %>, it is currently <%= @current_temperature %> degree and <%= @conditions.downcase %></h5>
                    <h5>Weather Forecast</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Day</th>
                                <th scope="col">Description</th>
                                <th scope="col">High Temperature</th>
                                <th scope="col">Low Temperature</th>
                            </tr>
                        </thead>
                        
                        <tbody>    
                            <% for day in @array_weather %>
                            <tr>
                                <th scope="row"><%= Time.at(day["time"]).strftime("%B %e, %Y") %></th>
                                <td><%= day["summary"] %></td>
                                <td><%= day["temperatureHigh"] %></td>
                                <td><%= day["temperatureLow"] %></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>


                </div>


            </div>


        <div class="row">
            <div class="col-md-9">
                
                        
                <h5>News</h5>
                <% for news in @array_news %>
                    
                    <h6> <%= news["title"] %> </h6>
                    <p><%= news["description"] %></p>
                    <p>
                        <a href="<%= news["url"] %>" class="btn btn-dark">Read more</a>
                    </p>
                
                <% end %>





            </div>
        </div>
    </div>
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>